html, body {
    font-size: 1em;
}

label {
    color: #ffffff;
}

span.position-absolute {
    bottom: 15px;
    right: 15px;
}

.card-group .col-md-4 {
    margin-bottom: 15px !important;
}

.card .card-text {
    font-size: 1em;
}

.toggle input[type=checkbox] {
    cursor: pointer;
}

#row-pagination {
    position: absolute;
    bottom: 30px;
    text-align: center;
    width: 100%;
}

